*, *::after, *::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  font-size: 87.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 75%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 75%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 62.5%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 100%; } }

body {
  box-sizing: border-box; }

.dark {
  background-color: #37383C; }

#nav-dark-mode, #burger-dark-mode {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit; }

.burger-menu__options__link {
  width: 100%;
  list-style-type: none;
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 3.0rem;
  color: #ffffff; }

.header__nav__list {
  list-style: none; }
  .header__nav__list-link, .header__nav__list-link:link, .header__nav__list-link:visited {
    list-style-type: none;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 0.93rem;
    line-height: 1.14rem;
    color: #572EE5; }
  .header__nav__list-link:hover {
    text-decoration: underline solid #5ED7C6 1px;
    text-underline-offset: 1.5px; }
  .header__nav__list-link:active {
    color: #9CAFC3;
    text-decoration: none; }

.footer__share-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 0.93rem;
  line-height: 1.07rem;
  color: #000000; }
  @media (max-width: 75em) {
    .footer__share-text {
      font-size: 1.5rem;
      line-height: 1.8rem; } }
.footer__media__link {
  text-decoration: none;
  font-size: 1.43rem; }
  .footer__media__link, .footer__media__link:link, .footer__media__link:visited {
    color: #CDD6E0; }
  .footer__media__link:hover, .footer__media__link:active {
    color: #572EE5; }
.footer__copyright {
  font-family: Roboto;
  font-weight: 400;
  font-size: 0.93rem;
  line-height: 1.07rem;
  color: #000000; }
  @media (max-width: 75em) {
    .footer__copyright {
      font-size: 1.2rem;
      line-height: 2rem; } }
  @media (max-width: 37.5em) {
    .footer__copyright {
      font-size: 1.4rem;
      line-height: 2rem; } }

.dark .header__nav__list-link, .dark .header__nav__list-link:link, .dark .header__nav__list-link:visited {
  color: #ffffff; }
.dark .header__nav__list-link:active {
  color: #9CAFC3;
  text-decoration: none; }
.dark .footer__share-text {
  color: #ffffff; }
.dark .footer__media__link, .dark .footer__media__link:link, .dark .footer__media__link:visited {
  color: #CDD6E0; }
.dark .footer__media__link:hover, .dark .footer__media__link:active {
  color: #ffffff; }
.dark .footer__copyright {
  color: #ffffff; }

.header {
  border-top: solid 5px #572EE5;
  padding: 0 11.14rem;
  display: flex; }
  .header__logo-box {
    margin-right: auto; }
  .header__logo {
    width: 68px;
    height: 60px;
    margin: 1.29rem 0 0.86rem 0;
    background-image: url("../../images/logo-desktop.svg");
    background-repeat: no-repeat;
    display: block;
    margin-right: auto; }
    @media (max-width: 56.25em) {
      .header__logo {
        margin: 2.9rem 0 1.7rem 0; } }
    @media (max-width: 37.5em) {
      .header__logo {
        background-image: url("../../images/logo-mobile.svg");
        width: 56px;
        height: 49px; } }
  .header__nav {
    display: flex;
    align-items: center; }
    .header__nav__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 28.53rem; }
      @media (max-width: 56.25em) {
        .header__nav__list {
          display: none; } }
  .header__add-btn {
    width: 54px;
    height: 54px;
    background-image: url("../../images/button-crear-gifo.svg");
    background-repeat: no-repeat;
    margin: 1.29rem 0rem 1.29rem 4.25rem;
    content: '';
    display: block; }
    .header__add-btn:hover {
      background-image: url("../../images/CTA-crear-gifo-hover.svg"); }
    .header__add-btn:active, .header__add-btn:focus {
      background-image: url("../../images/CTA-crear-gifo-active.svg"); }
    @media (max-width: 56.25em) {
      .header__add-btn {
        display: none; } }
  @media (max-width: 56.25em) {
    .header {
      padding: 0 2.2rem; } }

.dark .header {
  border-top: #000000 solid; }
  .dark .header__logo {
    background-image: url("../../images/logo-modo-noc.svg"); }
    @media (max-width: 37.5em) {
      .dark .header__logo {
        background-image: url("../../images/logo-mobile-modo-noct.svg"); } }
  .dark .header__add-btn {
    background-image: url("../../images/CTA-crear-gifo-modo-noc.svg"); }
    .dark .header__add-btn:hover {
      background-image: url("../../images/CTA-crear-gifo-hover-modo-noc.svg"); }
    .dark .header__add-btn:active, .dark .header__add-btn:focus {
      background-image: url("../../images/CTA-crear-gifo-active-modo-noc.svg"); }

.footer {
  border-bottom: solid 5.1px #572EE5;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 11.29rem 0 11.14rem;
  height: 8.29rem; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 0 3.32rem; } }
  @media (max-width: 37.5em) {
    .footer {
      flex-direction: column;
      padding: 0;
      height: 19.6rem; } }
  .footer__share-text {
    margin-right: 1.21rem; }
    @media (max-width: 37.5em) {
      .footer__share-text {
        margin: 4.7rem 0 0 0;
        align-self: center; } }
  .footer__media {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 1.21rem; }
    @media (max-width: 37.5em) {
      .footer__media {
        margin: 2.4rem 0 0 0; } }
    .footer__media .fa-twitter {
      margin: 0 1.29rem; }
      @media (max-width: 37.5em) {
        .footer__media .fa-twitter {
          margin: 0 1.9rem; } }
  .footer__copyright {
    margin-left: auto; }
    @media (max-width: 37.5em) {
      .footer__copyright {
        margin: 4.78rem 0 2.3rem 0; } }

.dark .footer {
  border-bottom: solid 5.1px #000000; }

.burger-menu__check {
  display: none; }
.burger-menu__options {
  display: none;
  background-color: #572EE5;
  overflow: hidden;
  opacity: 90%;
  width: 100%;
  position: absolute;
  top: 10.0rem;
  padding-top: 0rem;
  height: 0px;
  text-align: center;
  transition: height 0.4s ease;
  transition: padding-top 0.4s ease; }
  @media (max-width: 56.25em) {
    .burger-menu__options {
      display: block; } }
  @media (max-width: 37.5em) {
    .burger-menu__options {
      display: block; } }
  .burger-menu__options__link {
    margin: 1.25rem 0; }
    .burger-menu__options__link, .burger-menu__options__link:link, .burger-menu__options__link:visited {
      display: block; }
.burger-menu__image__icon {
  cursor: pointer;
  display: none;
  margin-top: 4.5rem;
  margin-right: 2.6rem; }
  @media (max-width: 56.25em) {
    .burger-menu__image__icon {
      position: fixed;
      right: 0;
      background-image: url("../../images/burger.svg");
      background-repeat: no-repeat;
      width: 15px;
      height: 14px;
      display: block; } }
@media (max-width: 56.25em) {
  .burger-menu__check:checked + .burger-menu__options {
    height: 100%;
    padding-top: 1.95rem; } }
@media (max-width: 56.25em) {
  .burger-menu__check:checked ~ .burger-menu__image .burger-menu__image__icon {
    background-image: url("../../images/close.svg"); } }

hr {
  width: 10%;
  height: 1px;
  margin-left: 50%;
  transform: translate(-50%);
  background-color: #ffffff; }

@media (max-width: 56.25em) {
  .dark .burger-menu__options {
    background-color: #000000;
    opacity: 100%; } }
@media (max-width: 56.25em) {
  .dark .burger-menu__image__icon {
    background-image: url("../../images/burger-modo-noct.svg"); } }
@media (max-width: 56.25em) {
  .dark .burger-menu__check:checked ~ .burger-menu__image .burger-menu__image__icon {
    background-image: url("../../images/close-modo-noct.svg"); } }

/*# sourceMappingURL=main.css.map */
