//  COLORS 
$color-background-gray : #F3F5F8;
$color-background-dark-gray : #222326;

$color-dark-mode: #37383C;
$color-primary: #572EE5;

$color-social: #CDD6E0;

$color-font-primary: #572EE5;
$color-text-hover: #5ED7C6;
$color-text-active: #9CAFC3;

$color-white: #ffffff;
$color-black: #000000;

//  FONT
$font-bold: Montserrat;
$font-roboto: Roboto; 

//  GRID