.search {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5.43rem 18.07rem 6.79rem 18.07rem;
  
  &__title {
    text-align: center;
  }

  &__gif {
    align-items: center;
    display: flex;
    flex-direction: column;

    &__img {
      height: 13.57rem;
      margin-top: 1.71rem;
      width: 28.5rem;
    }

    &__bar {
      align-items: center;
      border: 1px solid $color-primary;
      border-radius: 27px;
      display: flex;
      height: 3.57rem;
      justify-content: space-between;
      position: relative;
      width: 39.38rem;

      &__input {
        background: none;
        border: none;
        outline: inherit;
        margin-left: 3.86rem;
      }

      &__button-search {
        background: none;
        background-image: url('../../images/icon-search.svg');
        background-repeat: no-repeat;
        height: 1.43rem;
        position: absolute;
        right: 1.43rem;
        width: 1.43rem;        
      }

      &__button-close {
        background: none;
        background-image: url('../../images/close.svg');
        background-repeat: no-repeat;
        display: none;
        height: 1.43rem;
        position: absolute;
        right: 1.43rem;
        width: 1.43rem;
      }
    }
    
    &__trends {
      margin-top: 5.21rem;

      &__title {

      }

      &__most-wanted {

      }
    }
  }
}

.dark{
  .search {
    &__title {
  
    }
  
    &__gif {
      &__img {
  
      }
  
      &__bar {
        &__input {
          
        }
  
        &__button-search {
          background-image: url('../../images/icon-search-mod-noc.svg');
        }
  
        &__button-close {
          background-image: url('../../images/close-modo-noct.svg');
        }
      }
      
      &__trends {
        &__title {
  
        }
        &__most-wanted {
  
        }
      }
    }
  }
}