.header {
    &-front {
        &-logo {
            &--link {
                &__image {
                    width: 4.86rem;
                    height: 4.29rem;
                    margin-left: 11.14rem;
                    margin-top: 1.29rem;
                }
            }
        }
    }
}