.header {
    &--front {
        &--nav {
            &--list {
                @include respond(phone) {
                    display: none;
                }

                @include respond(tab-port) {
                    display: none;
                }

                &--link { 
                    margin-top: 2.57rem;
                    margin-bottom: 2.71rem;
                }
            }

            &--image {
                @include respond(phone) {
                    display: none;
                }

                @include respond(tab-port) {
                    display: none;
                }

                &, &:link, &:visited {
                    margin: 1.29rem 11.14rem 1.29rem 4.25rem;

                    &--plus {
                        width: 3.86rem;
                        height: 3.86rem;
                    }
                }
            } 
        }
    }
}

.dark {
    
}