#nav-dark-mode,  #burger-dark-mode {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

// &--burger {
.burger-menu {
  &__options{
    // &--link {
    &__link {
      width: 100%;
      list-style-type: none;
      text-decoration: none;
            
      // &__item {
      font-family: $font-bold;
      font-weight: 800;
      font-size: 1.5rem;
      line-height: 3.0rem;
      color: $color-white;
      //}
    }
  }
}
//}

.header {
  //&--front {
  // &--nav {
  &__nav {
    // &--list {
    &__list {
      list-style: none;

      &-link {
        &, &:link, &:visited {
          list-style-type: none;
          text-decoration: none;
          font-family: $font-bold;
          font-weight: 800;
          font-size: 0.93rem;
          line-height: 1.14rem;
          color: $color-font-primary;
        }

        &:hover {
          text-decoration: underline solid $color-text-hover 1px;
          text-underline-offset: 1.5px;
        }

        &:active {
          color: $color-text-active;
          text-decoration: none;
        }
      }
    }
  }
}

// .link-media{
.footer{
    // &--access {
        // &--social-media {
            // &--share-text {
  &__share-text{
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 0.93rem;
    line-height: 1.07rem;
    color: $color-black;

    @include respond(tab-land) {
      font-size: 1.5rem;
      line-height: 1.8rem;   
    }

      // @include respond(phone) {
      //     font-size: 1.5rem;
      //     line-height: 1.8rem;   
      // }

      // @include respond(tab-port) {
      //     font-size: 1.5rem;
      //     line-height: 1.8rem;   
      // }

                
  }

            // &--image{
  &__media{
    &__link {
      text-decoration: none;
      font-size: 1.43rem;

      &, &:link, &:visited {
          color: $color-social;
      }
          
      &:hover, &:active {
          color: $color-font-primary;
      }
    }
  }
      // }
  // }

  &__copyright {
      font-family: $font-roboto;
      font-weight: 400;
      font-size: 0.93rem;
      line-height: 1.07rem;
      color: $color-black;

      @include respond(tab-land) {
        font-size: 1.2rem;
        line-height: 2rem;   
      }

      @include respond(phone) {
          font-size: 1.4rem;
          line-height: 2rem;   
      }

      // @include respond(tab-port) {
      //     font-size: 1.2rem;
      //     line-height: 2rem;   
      // }
  }
    // }
}

//DARK MODE
.dark {
  .header {
    //&--front {
    //&--nav {
    &__nav {
      //&--list {
      &__list {
        &-link {
          &, &:link, &:visited {
            color: $color-white;
              }

          &:active {
            color: $color-text-active;
            text-decoration: none;
          }
        }
      }
    }
  //}
  }
    
  // .link-media{
  .footer {
    // &--access {
    // &--social-media {
    // &--share-text {
    &__share-text {  
      color: $color-white;
    }
    
    // &--image{
    &__media {
      // .fab {
      &__link {
        &, &:link, &:visited {
          color: $color-social;
        }
                
        &:hover, &:active {
          color: $color-white;
        }
      }
    }
    
    // &--copyright {
    &__copyright {
        color: $color-white;
    }
        // }
    // }
  }
}