#full-size {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1rem 0;

  .full-size__close {
    align-self: flex-end;
    background-image: url("../images/close.svg");
    background-repeat: no-repeat;
    height: 1.09rem;
    margin-right: 15rem;
    width: 1.09rem;
  }

  .full-size__slider {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5.6rem;

    &__gif {
      height: 27.5rem;
      margin: 0 1.79rem;
      width: 49.64rem;
    }
  }

  .full-size__description {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.57rem 0 0 0;
    width: 49.64rem;

    &__text {
      display: flex;
      flex-direction: column;

      &__user {
        margin-bottom: 0.43rem;
      }
    }

    &__buttons {
      display: flex;
      flex-direction: row;

      &__icon {
        @include nonStyle;
        height: 2.57rem;
        margin-right: 1.5rem;
        opacity: 0.7;
        width: 2.57rem;

        &:hover{
          opacity: 1;
        }
      }
    }
  }
}