.header {
  border-top: solid 5px $color-primary;
  display: flex;
  padding: 0 11.14rem;

  &__logo-box{
    margin-right: auto;
  }

  &__logo{
    background-image: url("../images/logo-desktop.svg");
    background-repeat: no-repeat;
    display: block;
    margin-right: auto;
    margin: 1.29rem 0 0.86rem 0;
    height: 60px;
    width: 68px;

    @include respond(tab-port) {
      margin: 2.9rem 0 1.7rem 0;
    }

    @include respond(phone) {
      background-image: url("../images/logo-mobile.svg");
      height: 49px;
      width: 56px;
    }
  }

  &__nav {
    align-items: center;
    display: flex;

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 28.53rem;

      @include respond(tab-port) {
        display: none;
      }
    }
  }

  &__add-btn {
    background-image: url('../images/button-crear-gifo.svg');
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 54px;
    margin: 1.29rem 0rem 1.29rem 4.25rem;
    width: 54px;

    &:hover {
      background-image: url('../images/CTA-crear-gifo-hover.svg');
    }

    &:active, &:focus {
      background-image: url('../images/CTA-crear-gifo-active.svg');
    }

    @include respond(tab-port) {
      display: none;
    }
  }

  @include respond(tab-port) {
    padding: 0 2.2rem;
  }
}

//DARK MODE
.dark {
  .header {
    border-top: $color-black solid;

    &__logo {
      background-image: url('../images/logo-modo-noc.svg');

      @include respond(phone) {
        background-image: url("../images/logo-mobile-modo-noct.svg");
      }
    }

    &__add-btn {
      background-image: url('../images/CTA-crear-gifo-modo-noc.svg');

      &:hover {
        background-image: url('../images/CTA-crear-gifo-hover-modo-noc.svg');
      }

      &:active, &:focus{
        background-image: url('../images/CTA-crear-gifo-active-modo-noc.svg');
      }
    }
  }
}
