.slider {
  align-items: center;
  background-color: $color-background-gray;
  display: flex;
  flex-direction: column;
  padding: 4.79rem 6.57rem 13rem 6.57rem;

  &__text {
    margin-bottom: 3.79rem;
    margin-top: 0.86rem;
  }

  &__container {
    align-items: center;
    display: flex;
    flex-direction: row;

    &__trending {
      box-sizing: inherit;
      display: grid;
      grid-template: 19.64rem / repeat(3, 25.5rem);
      grid-gap: 0 1.93rem;
      margin: 0 1.57rem;

      &__value {
        background-color: $color-primary;
        box-sizing: border-box;
        height: 19.64rem;
        width: 25.5rem; 
        overflow: hidden;
        position: relative;
        

        &__gif { 
          height: 19.64rem;
          width: 25.5rem;  
          position: absolute;
          z-index: 10;
          right: 0;
          top: 0;

          @include respond(tab-port) {
            height: 18.7rem;
            width: 22rem;  
          }
      
          @include respond(phone) {
            height: 18.7rem;
            width: 24.3rem;  
          }
        }

        &__buttons {
          align-content: space-between;
          display: flex;
          justify-content: space-between;
          position: absolute;
          right: 0.71rem;
          top: 0.71rem;
          width: 8.4rem;

          &__icon {
            @include nonStyle;
          }

          &__dwl--icon, &__full--icon, &__fav--icon {
            height: 2.29rem;
            opacity: 0.7;
            width: 2.29rem;

            &:hover{
              opacity: 1;
            }
          }
        }

        &__text {
          left: 1.29rem;
          position: absolute;
          top: 12.93rem;

          &__user {
            margin-bottom: 0.43rem;
          }
        }

        &:hover{
          opacity: 0.9;

          .slider__container__trending__value__gif { 
            opacity: 0.7;
            z-index: -1;
          }
        }

        @include respond(tab-port) {
          height: 18.7rem;
          width: 22rem;  
        }
    
        @include respond(phone) {
          height: 18.7rem;
          width: 24.3rem;  
        }
      }
    }
  }
}

.dark {
  .slider {
    background-color: $color-background-dark-gray;
  }
}